*.xml
*.html
*.csv

*.json
*.png
*.jpg
*.jpeg
*.PNG
*.JPG
*.JPEG
*.pdf

*.pt
*.pth
*.npy
*.zip
*.hdf
*.hdf5
*.pickle
*.bin

*.ipynb

.git/
unilm/
ipynb_checkpoints/
__pycache__/

.idea
.streamlit/secrets.toml
